<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>Guilherme Rodrgues</title>
        {% endblock %}
        
        <link rel="stylesheet" href="/styles.css">


    </head>
    <body>
        <header>
            <div class="links">
                <a href="/">Sobre</a>
                <a href="/trabalhos">Trabalhos</a>
            </div>
        </header>
        {% block content %} {% endblock %}
    </body>
</html>

